dj-database-url==0.4.1
dj-static==0.0.6
Django==1.10.1
django-bootstrap-form==3.2
django-extensions==1.7.5
django-widget-tweaks==1.4.1
gunicorn==19.6.0
names==0.3.0
pep8==1.7.0
psycopg2==2.6.2
py==1.4.32
pytest==3.0.5
python-decouple==3.0
pytz==2016.6.1
rstr==2.2.5
six==1.10.0
static3==0.7.0
