<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/cart.png">

    {% block title %}
      <title>Vendas</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <style type="text/css">
      /* Move down content because we have a fixed navbar that is 50px tall */
      body {
        padding-top: 50px;
        padding-bottom: 40px;
        color: #5a5a5a;
      }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>



  <body ng-app="base">
  

    <!-- MENU -->
    {% include "menu.html" %}

    <br>
    <br>

  <div class="container">




    {% block content %}
      
    {% endblock content %}


  


      <hr>

    <!-- FOOTER -->
      <footer>
        <p class="pull-right">
          <a href="#"><span class="glyphicon glyphicon-chevron-up">Topo</span></a>
        </p>
        <p>Régis da Silva &copy; 2014 &middot; all rights reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="{{ STATIC_URL }}/img/80x15.png" /></a>
        <a href="http://www.djangoproject.com/" id="django" target="_blank"><img src="{{ STATIC_URL }}/img/django-icon-256.png" border="0" alt="A Django site." title="A Django site." height="20px" /></a>
        <a href="https://github.com/rg3915/vendas" target="_blank"><img src="{{ STATIC_URL }}/img/github_64_black.png" height="32px"></a>
        All names and values are fictitious.
        </p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular.js"></script>

    <script>
      if(!window.Global){
        window.Global = [];
      }
      Global.angular_dependencies = {% block angulardependencies %}[]{% endblock angulardependencies %};
    </script>

    <script src="{{ STATIC_URL }}js/app/base.js"></script>
    <script src="{{ STATIC_URL }}js/app/vendas.js"></script>
    <script src="{{ STATIC_URL }}js/app/api.js"></script>


  </body>
</html>