{% extends 'base.html' %}

{% block content %}
	<h1>Lista de Clientes <font size="3">Nomes fictícios</font></h1>
	
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Email</th>
						<th>Fone</th>
					</tr>
				</thead>
				<tbody>
				{% for customer in object_list %}
					<tr>
						<td>{{ customer.full_name }}</td>
						<td>{{ customer.cpf }}</td>
						<td>{{ customer.email }}</td>
						<td>{{ customer.phone }}</td>
					</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>

	    <hr>
		<div>
			<h3><b>Total:</b> {{ count }} clientes</h3>
		</div>

<!-- pagination -->
{% include "_pagination.html" %}

{% endblock content %}