{% extends 'base.html' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Bem-vindo ao projeto Vendas.</h2>
        <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}">Leia mais &raquo;</a></p>
      </div>
    </div>

      <!-- Example row of columns -->
      <!-- <div class="row">
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, consequuntur. Nobis, nesciunt molestiae accusantium harum ratione expedita itaque, nemo illo, velit quis quos. Iste reiciendis, necessitatibus ut magnam odit ipsum.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
      -->

{% endblock content %}