{% extends 'base.html' %}

{% block content %}
	<h1>Lista de Produtos</h1>

		<div>
			<table class="table">
				<thead>
					<tr>
						<!-- <th>Importado</th>
						<th>Fora de linha</th> -->
						<th>Produto</th>
						<th>Categoria</th>
						<th>Preço</th>
					</tr>
				</thead>
				<tbody>
				{% for product in object_list %}
					<tr>
						<!-- <td><input type="radio" name="importado" value="{{ product.importado }}"></td>
						<td><input type="radio" name="foradelinha" value="{{ product.foradelinha }}"></td> -->
						<td>{{ product.product }}</td>
						<td>{{ product.category }}</td>
						<td>{{ product.price }}</td>
					</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>

	    <hr>

<!-- pagination -->
{% include "_pagination.html" %}

{% endblock content %}