{% extends "base.html" %}

{% block content %}
	<div class="container">
		<form class="form-horizontal" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{% for field in form %}
				<div class="form-group">
					<div class="control-label col-sm-2">
						{{ field.errors }}
						{{ field.label }}
					</div>
					<div class="col-sm-2">
						{{ field }}
					</div>
				</div>
			{% endfor %}
			<div class="form-group">
				<div class="col-lg-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</form>
	</div>
{% endblock content %}