{% extends 'base.html' %}
{% load humanize %}

{% block content %}
	<h1>Lista de Vendas</h1>

		<button id="new_sale" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			<a href="{% url 'sale_create' %}"> Nova venda</a>
		</button>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Código</th>
						<th>Cliente</th>
						<th>Data da venda</th>
						<th>Itens</th>
						<th class="text-right">Total</th>
					</tr>
				</thead>
				<tbody>
				{% for sale in object_list %}
					{% if sale.get_itens == 1 %}
						<tr class="danger">
					{% else %}
						<tr>
					{% endif %}
							<td>{{ sale.codigo }}</td>
							<td><a href="{{ sale.get_detalhe }}">{{ sale.customer }}</a></td>
							<td>{{ sale.date_sale }}</td>
							<td>{{ sale.get_itens }}</td>
							<td class="text-right">{{ sale.get_total|intcomma }}</td>
						</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div>
			<h3><b>Total:</b> {{ count }}
				{% if count <= 1 %}
					venda
				{% else %}
					vendas
				{% endif %}
			</h3>
		</div>

<!-- pagination -->
{% include "_pagination.html" %}

{% endblock content %}