{% extends 'base.html' %}

{% block content %}
	<h1>Lista de Vendas</h1>

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <a href="{% url 'sale_create' %}">
            <button id="new_sale" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a>
        <!-- search form -->
        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
		
		<div class="text-right">
		<p>
			<spam name="filter_sale_zero"><a href="?filter_sale_zero=1">Vendas sem itens</a></spam>
			<spam name="filter_sale_one"><a href="?filter_sale_one=1">Vendas com um item</a></spam>
		</p>
		</div>
	</form>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Código</th>
						<th>Cliente</th>
						<th>Data da venda</th>
						<th class="text-center">Itens</th>
						<th class="text-right">Total</th>
					</tr>
				</thead>
				<tbody>
				{% for sale in object_list %}
					{% if sale.get_itens == 0 %}
						<tr class="danger">
					{% elif sale.get_itens == 1 %}
						<tr class="info">
					{% else %}
						<tr>
					{% endif %}
							<td>{{ sale.codigo }}</td>
							<td><a href="{{ sale.get_detalhe }}">{{ sale.customer }}</a></td>
							<td>{{ sale.date_sale }}</td>
							<td class="text-center">{{ sale.get_itens }}</td>
							<td class="text-right">{{ sale.get_total }}</td>
						</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div>
			<h3><b>Total:</b> {{ count }}
				{% if count <= 1 %}
					venda
				{% else %}
					vendas
				{% endif %}
			</h3>
		</div>

<!-- pagination -->
{% include "_pagination.html" %}

{% endblock content %}