{% extends 'base.html' %}

{% block content %}
	<h1>Produtos localizados</h1>

		<div>
			<form action="." method="get">
				<input id="search_box" type="text" name="search_box" placeholder="Localizar..." />
				<button id="search_submit" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</form>
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<!-- <th>Importado</th>
						<th>Fora de linha</th> -->
						<th>Produto</th>
						<th>Categoria</th>
						<th class="text-right">Preço</th>
					</tr>
				</thead>
				<tbody>
				{% for product in object_list %}
					<tr>
						<!-- <td><input type="radio" name="importado" value="{{ product.importado }}"></td>
						<td><input type="radio" name="foradelinha" value="{{ product.foradelinha }}"></td> -->
						<td>{{ product.product }}</td>
						<td>{{ product.category }}</td>
						<td class="text-right">{{ product.price_formated }}</td>
					</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>

	    <hr>
		<div>
			<h3><b>Total:</b> {{ count }} produtos</h3>
		</div>


<!-- pagination -->
{% include "_pagination.html" %}

{% endblock content %}