{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Seller Detail</title>
{% endblock title %}

{% block content %}

<div class="col-lg-8">
	<div class="col-md-2 column">
		<img src="{% static 'img/person128.png' %}" class="img-square" />
	</div>
	<div class="col-md-offset-3 column">
		<h1>{{ object.full_name }}</h1>
		<h4><span class="glyphicon glyphicon-envelope"></span><a href="#"> {{ object.email }}</a></h4>
	</div>

	</br>

    <table class="table table-user-information">
  		<tbody>
	      <tr>
	        <th class="col-md-3 text-right">CPF</th>
	        <td>{{ object.cpf }}</td>
	      </tr>
	      <tr>
	        <th class="col-md-3 text-right">Nascimento</th>
	        <td>{{ object.birthday }}</td>
	      </tr>
	      <tr>
	        <th class="col-md-3 text-right">Telefone</th>
	        <td>{{ object.phone }}</td>
	      </tr>
	      <tr>
	        <th class="col-md-3 text-right">Interno</th>
	        <td>
		        {% if object.internal %}
		            <span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span>
		        {% else %}
		            <span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span>
		        {% endif %}
			</td>
	      </tr>
	      <tr>
	        <th class="col-md-3 text-right">Ativo</th>
	        <td>
		        {% if object.active %}
		            <span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span>
		        {% else %}
		            <span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span>
		        {% endif %}
			</td>
	      </tr>
	      <tr>
	        <th class="col-md-3 text-right">Comissionado</th>
	        <td>
		        {% if object.commissioned %}
		            <span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span>
		        {% else %}
		            <span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span>
		        {% endif %}
			</td>
	      </tr>
	      <tr>
	        <th class="col-md-3 text-right">Comissão</th>
	        <td>{{ object.get_commission }}%</td>
	      </tr>
        </tbody>
    </table>

</div>

{% endblock content %}