{% extends 'base.html' %}

{% block content %}
    <form class="navbar-form navbar-right" action="." method="get">
        <!-- search form -->
        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
    </form>

	<h1>Lista de Vendedores <font size="3">(Nomes fictícios)</font></h1>
	
		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="text-center">Interno</th>
						<th>Nome</th>
						<th>CPF</th>
						<th>Email</th>
						<th>Fone</th>
						<th class="text-center">Vendas</th>
					</tr>
				</thead>
				<tbody>
				{% for seller in object_list %}
					<tr>
						<td class="text-center">
							{% if seller.internal %}
								<span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span>
							{% else %}
								<span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span>
							{% endif %}
						</td>
						<td><a href="{{ seller.get_seller_url }}">{{ seller.full_name }}</a></td>
						<td>{{ seller.cpf }}</td>
						<td>{{ seller.email }}</td>
						<td>{{ seller.phone }}</td>
						<td class="text-center"><a href="{{ seller.get_sale_seller_url }}">{{ seller.get_sales_count }}</a></td>
					</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>

	    <hr>
		<div>
			<h3><b>Total:</b> {{ count }}
				{% if count <= 1 %}
					cliente
				{% else %}
					clientes
				{% endif %}
			</h3>
		</div>

<!-- pagination -->
{% include "_pagination.html" %}

{% endblock content %}