{% extends 'base.html' %}

{% block content %}
    <form class="navbar-form navbar-right" action="." method="get">
        <!-- search form -->
        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>

    <div class="text-right">
      <p name="filter_link" class="pull-right"><a href="?filter_link=1">Produtos em baixo estoque</a></p>
		</div>
    <div class="text-right">
      <p name="outofline" class="pull-right"><a href="?outofline=1">Produtos fora de linha</a></p>
    </div>
    </form>

	<h1>Lista de Produtos <font size="3">(NCM fictício)</font></h1>

{% if object_list %}
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Importado</th>
						<th>NCM</th>
						<th>Produto</th>
						<th>Marca</th>
						<th class="text-center">Estoque</th>
						<th class="text-center">Estoque Min.</th>
						<th class="text-right">Preço</th>
						<th class="text-right">IPI</th>
						<th>Fora de linha</th>
					</tr>
				</thead>
				<tbody>
				{% for product in object_list %}
					{% if product.outofline %}
						<tr class="danger">
					{% else %}
						<tr>
					{% endif %}
						<td class="text-center">
							{% if product.imported %}
								<span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span>
							{% else %}
								<span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span>
							{% endif %}
						</td>
						<td>{{ product.ncm }}</td>
						<td>{{ product.product }}</td>
						<td>{{ product.brand.brand }}</td>
						<td class="text-center">{{ product.stock }}</td>
						<td class="text-center">{{ product.stock_min }}</td>
						<td class="text-right">{{ product.get_price }}</td>

						{% if product.get_ipi == "0" %}
							<td class="text-right">---</td>
						{% else %}
							<td class="text-right">{{ product.get_ipi }}%</td>
						{% endif %}

						<td class="text-center">
							{% if product.outofline %}
								<span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span>
							{% else %}
								<span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
{% else %}
  <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}

<hr>
<div>
<h3>{{ object_list|length }} produto{{ object_list|length|pluralize }}</h3>
<h4><b>Total:</b> {{ page_obj.paginator.count }} produto{{ page_obj.paginator.count|pluralize }}</h4>
</div>

{% if object_list %}
  <!-- pagination -->
  {% include "_pagination.html" %}
{% endif %}

{% endblock content %}