{% extends 'base.html' %}

{% block content %}
	<h1><b>Venda:</b> {{ Sale.codigo }}</h1>
	
	<h2>
		<b>Cliente:</b> {{ Sale.customer.full_name }}
		<spam class="pull-right"><b>Vendedor:</b> {{ Sale.seller.full_name }}</spam>	
	</h2>

		<p><b>Data:</b> {{ Sale.created }}</p>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>NCM</th>
						<th>Produto</th>
						<th class="text-center">Quantidade</th>
						<th class="text-right">Preço de venda</th>
						<th class="text-right">Subtotal</th>
					</tr>
				</thead>
				<tbody>
				{% for item in Itens %}
					<tr>
						<td>{{ item.product.ncm }} </td>
						<td>{{ item.product.product }}</a></td>
						<td class="text-center">{{ item.quantity }}</td>
						<td class="text-right">{{ item.price_sale_formated }}</td>
						<td class="text-right">{{ item.subtotal_formated }}</td>
					</tr>
				{% empty %}
					<p>Sem itens na lista.</p>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<hr>

		<h3 class="text-right"><b>Total:</b> <span class="label label-info">{{ Sale.get_total }}</span></h3>
		<!-- <p class="text-right">Obs: IPI não calculado.</p> -->
		<p>
			<a href="{% url 'core:sale_list' %}"><span class="glyphicon glyphicon-chevron-left">Voltar</span></a>
		</p>
	</div>

{% endblock content %}